@media only screen and (max-width: 1018px) {
	.login {
		display: none;
	}
	.hamburger {
		display: block;
		position: relative;
		z-index: 100;
		margin-left: auto;
		margin-right: 0;
		padding: 0 1rem;
		user-select: none;
		height: 100%;
		appearance: none;
		border: none;
		outline: none;
		background: black;
		cursor: pointer;
	}

	.hamburger span {
		display: block;
		width: 32px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background-color: white;
		border-radius: 6px;
		z-index: 1;
		transform-origin: 0 0;
		transition: 0.4s;
	}
	.hamburger.is-active span {
		background-color: white;
	}

	.hamburger.is-active span:nth-child(1) {
		transform: translate(0px, -2px) rotate(45deg);
	}

	.hamburger.is-active span:nth-child(2) {
		opacity: 0;
		transform: translateX(15px);
	}

	.hamburger.is-active span:nth-child(3) {
		transform: translate(-3px, 3px) rotate(-45deg);
	}

	.hamburger.is-active:hover span {
		background-color: white;
	}
	.menu {
		display: flex;
		width: 100vw;
		height: 100vh;
		left: 0;
		top: 0;
		background-color: rgba(0, 0, 0, 0.673);
		backdrop-filter: blur(10px);
		position: absolute;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: column;
		transform: translateY(-150vw);
		transition: all 0.25s linear;
		z-index: 9;
		opacity: 0;
		border-radius: 100%;
		padding: 0;
	}

	.menu p:nth-child(1) {
		margin-top: 50px;
	}

	.menu p {
		color: white;
		font-weight: 500;
		margin: 10px;
	}

	.visible.menu {
		opacity: 1;
		transform: translateY(0vw);
		position: fixed;
		border-radius: 0;
	}
}
@media only screen and (max-width: 768px) {
	.hero-right {
		display: none;
	}
	.hero-left {
		min-width: none;
	}
}
